[
  {
    "targets": [
    {% for host in (groups['monitoring_clients'] + groups['monitoring_server']) | unique %}
      "{{ hostvars[host]['ansible_host'] | default(host) }}:9100"{% if not loop.last %},{% endif %}
    {% endfor %}
    ],
    "labels": {
      "job": "node-exporter"
    }
  }
]
